.contacts {
	&-top {
		background: #f5f5f5;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__title {
			width: 100%;
			position: relative;
			font-size: 22px;
			font-weight: 400;
			font-family: 'RoadRadio';
			line-height: 26px;
			padding-top: 20px;
			padding-bottom: 20px;

			//media
			@include mq(md) {
				font-size: 32px;
				padding-top: 15px;
				padding-bottom: 15px;
			}

			//media
			@include mq(xl) {
				font-size: 46px;
				padding-top: 24px;
				padding-bottom: 30px;
			}

			&::before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #000;
				opacity: 0.1;
			}
		}
	}
	&-wrapper {
		padding-top: 30px;
		padding-bottom: 50px;

		//media
		@include mq(md) {
			display: flex;
			justify-content: space-between;
			padding-top: 40px;
		}

		//media
		@include mq(xl) {
			padding-top: 62px;
			padding-bottom: 66px;
		}
	}
}

.info {
	width: 287px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	//media
	@include mq(md) {
		margin-left: 56px;
		margin-bottom: 0;
	}

	//media
	@include mq(xl) {
		max-width: 490px;
		width: 100%;
		margin-right: 0;
	}
	&__number {
		display: block;
		font-size: 28px;
		font-family: 'RoadRadio';
		margin-bottom: 6px;
	}

	&__mail {
		display: block;
		font-size: 25px;
		color: #bf2738;
		font-family: 'Golos';
		margin-bottom: 20px;
	}

	&__desc {
		font-family: 'Golos';
		font-weight: 400;
	}
}

.reqs {
	padding-top: 20px;
	display: grid;
	gap: 25px;
	&-row,
	&-row p {
		color: #808080;
		font-size: 13px;
	}
}

.form {
	max-width: 287px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	//media
	@include mq(md) {
		max-width: 350px;
	}
	//media
	@include mq(xl) {
		max-width: 630px;
		margin-left: 0;
		margin-right: 0;
	}
	&__group {
		display: grid;
		grid-row-gap: 10px;
		margin-bottom: 20px;

		//media
		@include mq(xl) {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 30px;
			grid-row-gap: 30px;
		}
	}

	&__title {
		font-size: 20px;
		font-family: 'RoadRadio';
		margin-bottom: 10px;
	}

	&__input {
		background: #f5f5f5;
		border-radius: 14px;
		font-family: 'Golos';
		font-size: 16px;
		line-height: 24px;
		color: #797986;
		padding: 15px 20px 17px;
		transition: all 0.3s ease 0s;
		width: 100%;
		border: 2px solid transparent;

		&:hover,
		&:focus {
			background-color: #fff;
			border: 2px solid #e6e6e6;
		}
	}

	&__label {
		position: relative;
		margin-left: 35px;
		margin-top: 30px;
		font-size: 13px;
		color: #808080;
		cursor: pointer;
		transition: all $duration ease-in-out;

		&:hover,
		&:focus {
			.checkbox {
				background-image: url(../../img/checkbox-hover.svg);
			}
		}
	}

	&__field {
		small {
			font-size: 12px;
			color: #bf2738;
		}
	}

	&__checkbox:checked + .checkbox {
		background-image: url(../../img/ckeckbox-on.svg);
	}

	&__textarea {
		min-height: 166px;

		//media
		@include mq(xl) {
			grid-column: 1 / 3;
		}
		//media
		@include mq(xl) {
			min-height: 133px;
		}
	}

	&-btn {
		margin-top: 20px;
		display: block;
	}
}

.checkbox {
	position: absolute;
	margin-left: -35px;
	width: 20px;
	height: 20px;
	background-image: url(../../img/checkbox-off.svg);
	border-radius: 4px;
	transition: all $duration ease-in-out;

	&-span {
		font-size: 13px;
	}

	&-span--gray {
		color: #808080;
	}
}

// breabcrumps
.breadcrumps {
	display: flex;
	padding-top: 16px;
	padding-bottom: 16px;
	gap: 27px;
	//media
	@include mq(xl) {
		padding-top: 21px;
		padding-bottom: 21px;
	}

	&__item:first-child {
		position: relative;
		&::after {
			position: absolute;
			content: '';
			top: 45%;
			transform: translateY(50%);
			right: calc(-27px / 2);
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: #797986;
		}
	}

	&__link {
		color: #797986;
		font-size: 12px;
		line-height: 14px;
	}

	&__link--active {
		color: #c9c9cf;
	}
}

// map
.map {
	width: 100%;
	height: 477px;
	//media
	@include mq(md) {
		height: 480px;
	}
	//media
	@include mq(xl) {
		height: 599px;
	}
}

[class*='copyrights-pane'] {
	display: none !important;
}

[class*='ground-pane'] {
	filter: grayscale(1);
}

// show input error
#name.input-error,
#phone.input-error {
	background: rgba(191, 39, 56, 0.12);
	&::placeholder {
		color: #bf2738;
	}
}
