@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'),
		url('../fonts/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Akzidenz-Grotesk Pro';
	src: url('../fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
		url('../fonts/AkzidenzGroteskPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos-Text_DemiBold.woff2') format('woff2'),
		url('../fonts/Golos-Text_DemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/GolosText-Regular.woff2') format('woff2'),
		url('../fonts/GolosText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('../fonts/RoadRadio.woff2') format('woff2'),
		url('../fonts/RoadRadio.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
