$black: #262633;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

// ====== Media queries ======
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$fhd: 1920px;
